{% extends "base.jinja2" %}

{% block mainbody %}
    <div style="clear: both"></div>
    <link href="./css/map_styles.css" rel="stylesheet">


    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

        <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style=" width: 100%">

            {{ left_nav }}

        </ul>

        <div style="clear: both"></div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


        <div class="col-sm-10">
            <br>

            <div id='map'></div>

            <script type="text/javascript">
                var popup = L.popup();

                function onMapClick(e) {
                    popup
                            .setLatLng(e.latlng)
                            .setContent("Location:" + e.latlng.toString())
                            .openOn(map);
                }
                var map = L.map('map', {
                    center: [0, 0],
                    zoom: 2
                });

                var the_basemap = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox.light'
                }).addTo(map);


                var wmsLayer = L.tileLayer.wms('http://121.42.29.253:9011/service?', {
                    layers: 'maplet_world_mulwold',
                    format: 'image/png',
                    transparent: true

                }).addTo(map);
                map.on('click', onMapClick);
                var baseMaps = {
                    'BaseMap': the_basemap
                };
                var overlayMaps = {
                    'WMS': wmsLayer
                };

                L.control.layers(baseMaps, overlayMaps).addTo(map);
            </script>

            <br>

            <div class="row">
                <h3 class="bk_img">
                    <img src="./images/team_logo.png" width="5%"> MapServer发布管理
                </h3>




                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            基于 MapServer 的服务器端GIS数据图层发布管理系统。<p/>

                            <p/>
                            目的是用于解决发布较多数量的地图时的数据更新、样式修改，以及不同样式组合应用的问题。 <p/>
                            尽量实现数据源唯一，使用 XLSX 文件定义样式。 <p/>
                            主要实现GIS数据图层的发布，但也实现了多源数据发布为单个地图切片，以及多个图层发布为图层分组的功能。 <p/>

                        </div>
                    </div>
                </div>

                 <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">


                            <a href="https://github.com/bukun/GISLite" style="float: right;">


                                    <img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1">
                                

                            </a>
                            <ul>
                                <li>基于MapServer、MapProxy；</li>
                                <li>使用开放电子表格格式 XLSX 定义样式；</li>
                                <li>可用于团队地理信息数据快速发布管理；</li>
                                <li>开放源代码，发布于 Github 。 </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div style="clear: both"></div>
    <br/>
{% endblock %}